@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed:wght@700&display=swap');
// Base
@import './init/reset';
@import './init/variables';
@import './init/base';

// COMPONENTS
@import './components/1-navbar';
@import './components/2-header';
@import './components/3-main';
@import './components/4-section';
@import './components/5-footer';

form input{
    width: 100%;
}
.hide{
    display: none;
}
// Tablet / Desktop

@media only screen and (min-width: 800px) {
    #content{
        flex-direction: row;
        max-height: 500px;
    }
    #content header{
        height: 100%;
        max-height: 50vh;
    }
    #content .container img{
        height: 100%;
    }
    .user-name a{
        font-size: 2em;
    }
    header img{
        max-height: 100%;
    }
    .tagline{
        font-size: .5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 1em;
        background-color: white;
    }
    .tagline div{
        margin-top: 1em;
    }
    .tagline .btn{
        margin: .5em 5em;
        border-radius: 1em;
    }
    footer .container{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    footer .container img{
        max-width: 300px;
    }
    footer{
        padding: .3em 1em;
    }
    section{
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
    }
    .brand-logo{
        margin-left: 1em;
    }

}