@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed:wght@700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Global */
html body {
  height: 100vh;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  color: #333333;
  margin: 0;
}

img {
  margin: 0 auto;
  display: block;
  height: auto;
  border-radius: .1em;
}

a {
  text-decoration: none;
}

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  background-color: #B0113A;
}

/* Header */
.user-name {
  text-align: center;
}

.user-name a {
  color: #353535;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Roboto Condensed', sans-serif;
}

.user-name a:hover {
  color: #000;
}

.tagline {
  text-align: center;
  font-size: .4em;
  margin-top: 1em;
}

.link {
  display: block;
  background-color: #3d3b3c;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-family: 'Karla', Helvetica, sans-serif;
  font-weight: 600;
  padding: 15px 0 15px 0;
  margin: 12px 0 11px 0;
  border: 2px solid #3d3b3c;
}

.link:hover {
  color: #3d3b3c;
  background: none;
  background-color: #fff;
}

section {
  text-align: center;
  color: white;
  background-color: #B0113A;
}

section p {
  font-size: .4em;
  padding: .5em 0 .5em 0;
  font-weight: 400;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: .1em;
  margin-top: .1em;
}

footer .container {
  width: 100%;
}

footer .qr-code {
  border-radius: .1em;
  width: 50%;
}

footer form {
  padding: 0 1em;
  background-color: white;
}

section {
  margin-top: 1em;
}

.tagline .container {
  margin-top: 1em;
}

form input {
  width: 100%;
}

.hide {
  display: none;
}

@media only screen and (min-width: 800px) {
  #content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 10em;
  }
  #content header {
    height: 100%;
    max-height: 50vh;
  }
  .user-name a {
    font-size: 2em;
  }
  header img {
    max-height: 100%;
  }
  .tagline {
    font-size: .5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 1em;
    background-color: white;
  }
  .tagline .container {
    margin-top: 0;
  }
  .tagline div {
    margin-top: 1em;
  }
  .tagline .btn {
    margin: .5em 5em;
    border-radius: 1em;
  }
  footer .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .container img {
    max-width: 300px;
  }
  footer {
    padding: .3em 1em;
  }
  .brand-logo {
    margin-left: 1em;
  }
}
/*# sourceMappingURL=master.css.map */